@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1>This is API Authentication and Authorization</h1>    
   <button id="Login">Login</button>
   <button id="securedata">Secure Data</button>
   <button id="admin">Get Admin</button>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Login").click(function () {
            $.ajax({
                url: '/api/Auth/Login',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ username: 'admin', password: 'admin' }),
                success: function (data) {
                    alert('Login successful! Token: ' + data.token);
                    localStorage.setItem('token', data.token);
                },
                error: function (xhr, status, error) {
                    alert('Login failed: ' + xhr.responseText);
                }
            });
        });
        $("#securedata").click(function () {
            debugger;           
              var token = document.cookie
                                .split("; ")
                                .find(row => row.startsWith("token="))
                                ?.split("=")[1];
            
            $.ajax({
                url: '/api/SecureData/GetSecureData',
                type: 'GET',
                headers: { 'Authorization': 'Bearer ' + token },
                success: function (data) {
                    alert('Secure Data: ' + data);
                },
                error: function (xhr, status, error) {
                    alert('Error fetching secure data: ' + xhr.responseText);
                }
            });
        });
        $("#admin").click(function () {
             debugger;
           // var token = localStorage.getItem('token');
            var token = document.cookie
                                .split("; ")
                                .find(row => row.startsWith("token="))
                                ?.split("=")[1];
            $.ajax({
                url: '/api/SecureData/Admin',
                type: 'GET',
                headers: { 'Authorization': 'Bearer ' + token },
                success: function (data) {
                    alert('Admin Data: ' + data);
                },
                error: function (xhr, status, error) {
                    alert('Error fetching admin data: ' + xhr.responseText);
                }
            });
        });
    });
</script>
