@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
   <h1>API Authentication and Authorization</h1> 
   <div class="login">
       UserName : <input type="text" id="txtuserName" placeholder="Enter User Name" width="100px" /> <br />
       Passoword : <input type="password" id="txtpassword" placeholder="Enter Password" width="100px" /> <br />
        <button id="Login">Login</button>
   </div>

   <div class="api">
      
        <button id="securedata">Secure Data</button>
        <button id="admin">Get Admin</button>
   </div>   

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {   
        localStorage.setItem('token','');
        $("#Login").click(function () {          
            let userName  =  $("#txtuserName").val();
            let password  = $("#txtpassword").val();
            let secreteKey  = userName + password + userName + password ;
            $.ajax({
                url: '/api/Auth/Login',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ username:userName, password: password }),
                success: function (data) {
                    alert('Login successful! Token: ' + data.token);
                    localStorage.setItem('token', data.token);
                },
                error: function (xhr, status, error) {
                    alert('Login failed: ' + xhr.responseText);                   
                    localStorage.setItem('token','');

                }
            });
        });
        $("#securedata").click(function () {             
            var token  = localStorage.getItem("token");            
            $.ajax({
                url: '/api/SecureData/GetSecureData',
                type: 'GET',
                headers: { 'Authorization': 'Bearer ' + token },
                success: function (data) {
                    alert('Secure Data: ' + data);
                },
                error: function (xhr, status, error) {
                    alert('Error fetching secure data: ' + xhr.responseText);
                    
                }
            });
        });
        $("#admin").click(function () {          
           var token = localStorage.getItem('token');            
            $.ajax({
                url: '/api/SecureData/Admin',
                type: 'GET',
                headers: { 'Authorization': 'Bearer ' + token },
                success: function (data) {
                    alert('Admin Data: ' + data);
                },
                error: function (xhr, status, error) {
                    alert('Error fetching admin data: ' + xhr.responseText);
                }
            });
        });
    });
     
</script>
